@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
body {
  background-color: #fafafa;
  color: #333333;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  line-height: 2em; }

.page {
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.navbar {
  width: 100%;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.9em; }
  .navbar .navbar-item {
    margin-top: 20px;
    margin-bottom: 20px; }

.two-col {
  display: flex;
  flex-wrap: nowrap; }

#intro {
  max-width: 100%; }
  #intro > .col {
    margin: 20px; }
  #intro > :first-child {
    max-width: 400px;
    flex-shrink: 0; }
  #intro > :last-child {
    display: inline-grid;
    grid-template-rows: auto auto 1fr; }
    #intro > :last-child div {
      display: inline; }

#excerpt {
  padding-left: 24px;
  max-width: 90%;
  line-height: 2em; }

#greeting {
  margin-bottom: 24px; }
  #greeting .col {
    font-size: 4em;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-shadow: -2px 5px rgba(0, 0, 0, 0.1); }
  #greeting :first-child {
    max-width: 100%; }
  #greeting :last-child {
    background-image: linear-gradient(#ff3467, #ff9a00);
    color: #fff;
    font-style: italic; }

.vertical-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

#profile-image {
  width: 95%;
  border-radius: 100%;
  vertical-align: middle;
  box-shadow: -5px 10px rgba(0, 0, 0, 0.1); }

.section {
  display: flex;
  flex-direction: column;
  margin-top: 20px; }
  .section .section-heading {
    margin: auto;
    margin-bottom: 20px;
    background-color: #333333;
    color: #fff;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.1);
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "JetBrains Mono", monospace; }

.timeline-table {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-grid;
  grid-template-columns: auto 1fr; }
  .timeline-table .timeline-time {
    width: 400px;
    text-align: right;
    margin-right: 20px; }
  .timeline-table .timeline-entry .entry-heading {
    font-weight: bold; }
  .timeline-table .timeline-entry .entry-subheading {
    font-style: italic;
    margin-bottom: 10px; }

.inline-code {
  font-family: "JetBrains Mono", monospace; }

@media only screen and (max-width: 1200px) {
  .page {
    width: 80%; }

  #intro {
    flex-direction: column; }
    #intro > :first-child {
      max-width: 100%; }
      #intro > :first-child img {
        max-width: calc(min(400px, 100%));
        margin-left: auto;
        margin-right: auto;
        display: block; }
    #intro > :last-child div {
      display: inline-grid;
      justify-content: center; }

  #greeting .col {
    padding-top: 32px;
    padding-bottom: 32px; }

  #excerpt {
    text-align: center; }

  .timeline-table {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; }
    .timeline-table .timeline-time {
      width: 100%;
      text-align: left;
      margin-right: 0; } }

/*# sourceMappingURL=page.css.map */
