// Variables

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville:ital@0;1&display=swap');@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
$bg: #faf6ed;
// $bg: #fafafa;
$fg: #333333;
$white: #fff;
$sunset-red: #ff4b50;

$sunset: linear-gradient(#ff3467, #ff9a00);

$font-family: 'Libre Baskerville', serif;
$alt-font-family: "JetBrains Mono", monospace;
$code-font-family: "JetBrains Mono", monospace;

$size-small: 0.9em;
$size-normal: 18px;
$size-medium: 2em;
$size-large: 4em;

body {
    background-color: $bg;
    color: $fg;
    font-family: $font-family;
    font-size: $size-normal;
    line-height: 1.8;
}


.reset-a, .reset-a:hover, .reset-a:visited, .reset-a:focus, .reset-a:active  {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: auto;
}


.page {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    .page-title {
        text-align: center;
        font-size: $size-large;
    }
    
    .page-subtitle {
        text-align: center;
        font-size: $size-medium;
        font-style: italic;
        color: rgba(#000, 0.5);
    }
}

.navbar {
    width: 100%;
    font-family: $alt-font-family;
    font-size: $size-small;
    margin-bottom: 50px; 
    display: flex;
    flex-direction: row;
    
    .navbar-item {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .navbar-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .navbar-spacer {
        flex-grow: 1;
    }
    
    a.navbar-item {
        transition: all 200ms ease-in;
        border-bottom: solid 2px rgba($fg, 0.0);
        padding: 6px;
        padding-left: 12px;
        padding-right: 12px;
        &:hover {
            border-bottom: solid 2px $fg;
            cursor: pointer;
        }
    }
    
    a.navbar-item.focused {
        border-bottom: solid 2px $fg;
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $fg 50%);
        transition: all 200ms ease-in;
        &:hover {
            background-position: 0 100%;
            cursor: pointer;
            color: white;
        }
    }
}

.two-col {
    display: flex;
    flex-wrap: nowrap;
}

#intro {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    
    > .col {
        margin: 20px;
    }
    
    > :first-child {
        max-width: 400px;
        flex-shrink: 0;
    }
    
    > :last-child {
        display: inline-grid;
        grid-template-rows: auto auto 1fr;
        
        div {
            display: inline;
        }
    }
}

#excerpt {
    padding-left: 24px;
    max-width: 90%;
}

#greeting {
    margin-bottom: 24px;
    
    .col {
        font-size: $size-large;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-shadow: -2px 5px rgba(#000, 0.1);
    }
    
    :first-child {
        max-width: 100%;
    }
    
    :last-child {
        background-image: $sunset;
        color: $white;
        font-style: italic;
    }
}

.vertical-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#profile-image {
    width: 95%;
    border-radius: 100%;
    vertical-align: middle;
    box-shadow: -5px 10px rgba(#000, 0.1);
}

.section {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    
    .section-heading {
        margin: auto;
        margin-bottom: 20px;
        background-color: $fg;
        color: $white;
        box-shadow: -5px 5px rgba(#000, 0.1);
        padding: 12px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: $alt-font-family;
    }
}

.timeline-table {
    margin-bottom: 30px;
    
    display: inline-grid;
    grid-template-columns: auto 1fr;
    
    .timeline-time {
        width: 400px;
        text-align: right;
        margin-right: 20px;
    }
    
    .timeline-entry {
        
        .entry-heading {
            font-weight: bold;
        }
        .entry-subheading {
            font-style: italic;
            margin-bottom: 10px;
        }
    }
}

.inline-code {
    font-family: $code-font-family;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 20px;
    
    .card {
        transition: all 200ms linear;
        display: block;
        width: 400px;
        background-color: $bg;
        border: solid 1px transparentize($fg, 0.7);
        box-shadow: -10px 10px rgba(#000, 0.07);
        color: transparentize($fg, 0.1);

        .card-head {
            transition: all 200ms linear;
            padding: 24px;
            padding-bottom: 0;
            
            .card-title {
                font-weight: bold;
            }
            
            .card-subtitle {
                font-style: italic;
                color:rgba($fg, 0.7)
            }
        }
        
        .card-content {
            padding: 24px;
        }
    }
}

a.card:hover {
    .card-head {
        //background-color: $sunset-red;
    }
    
    border: solid 1px $fg;
    cursor: pointer;
    box-shadow: -10px 10px rgba(#000, 0.1);
    color: $fg;
}

@media only screen and (max-width: 1200px) {
    .page {
        width: 80%;        
    }
    
    #intro {
        flex-direction: column;
        
        > :first-child {
            max-width: 100%;
            margin: auto;
            
            img {
                max-width: calc(min(400px, 100%));
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }
        
        > :last-child {
            margin: auto;
            div {
                display: inline-grid;
                justify-content: center;
            }
        }
    }
    
    #greeting .col {
        font-size: calc(max(5vw, 2em));
    }

    #excerpt {
        text-align: center;
    }
    
    .timeline-table {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        
        .timeline-time {
            width: 100%;
            text-align: left;
            margin-right: 0;
        }
    }
    
    .card-holder {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}