$bg: #faf6ed;
// $bg: #fafafa;
$fg: #333333;
$white: #fff;
$sunset-red: #ff4b50;

$morning: linear-gradient(#ff0f7b, #f89b29);
$afternoon: linear-gradient(#7113FF, #00EEC6);
$evening: linear-gradient(#1D2671, #C33764);

$font-family: 'Libre Baskerville', serif;
$alt-font-family: "JetBrains Mono", monospace;
$code-font-family: "JetBrains Mono", monospace;

$size-small: 0.9em;
$size-normal: 18px;
$size-medium: 2em;
$size-large: 4em;