$bg: #faf6ed;
// $bg: #fafafa;
$fg: #333333;
$white: #fff;
$sunset-red: #ff4b50;

$sunset: linear-gradient(#ff3467, #ff9a00);

$font-family: 'Libre Baskerville', serif;
$alt-font-family: "JetBrains Mono", monospace;
$code-font-family: "JetBrains Mono", monospace;

$size-small: 0.9em;
$size-normal: 18px;
$size-medium: 2em;
$size-large: 4em;